<!-- orders/templates/orders/order_create.html -->

{% extends 'base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <h1>Оформление заказа</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.address.label_tag }}
            {{ form.address }}
            {% if form.address.errors %}
                <div class="text-danger">
                    {{ form.address.errors }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="text-danger">
                    {{ form.phone.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Оформить заказ</button>
    </form>
{% endblock %}
