<!-- users/templates/users/register.html -->

{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1 class="mb-5 text-center">Регистрация</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="shadow-sm p-4 bg-white rounded">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">Зарегистрироваться</button>
            </form>
            <p class="mt-3 text-center">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </div>
    </div>
{% endblock %}
