<!-- templates/products/product_list.html -->

{% extends 'base.html' %}

{% block title %}Каталог продуктов{% endblock %}

{% block content %}
    <h1 class="text-center">Каталог продуктов</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="text-success fw-bold">Цена: {{ product.price }} руб.</p>
                        <!-- Здесь можно добавить кнопку "Добавить в корзину" -->
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not products %}
            <p>Продукты еще не добавлены.</p>
        {% endif %}
    </div>
{% endblock %}
