<!-- products/templates/products/product_list.html -->

{% extends 'base.html' %}

{% block title %}Каталог продуктов{% endblock %}

{% block content %}
    <h1 class="text-center">Каталог продуктов</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid product-image" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        {% if product.available %}
                            <p class="text-success fw-bold">В наличии</p>
                        {% else %}
                            <p class="text-danger fw-bold">Нет в наличии</p>
                        {% endif %}
                        <p class="text-success fw-bold">Цена: {{ product.price }} руб.</p>
                        {% if product.available %}
                            <form action="{% url 'cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                            </form>
                        {% else %}
                            <button class="btn btn-secondary" disabled>Нет в наличии</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not products %}
            <p>Продукты еще не добавлены.</p>
        {% endif %}
    </div>
{% endblock %}
