/* flower_delivery/static/css/main.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #343a40;
}

.container {
    margin-top: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.product-image {
    height: 300px; /* Увеличение высоты изображения */
    object-fit: cover; /* Обрезка изображения, чтобы заполнить контейнер */
}

/* Пример стилей для кнопок */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
